.body {
    font-family: 'Montserrat' !important;
}

.MichromaFont {
    font-family: 'Michroma' !important;
}

/* _lg */
@media only screen and (max-width: 1440px) {

}

/* _md */
@media only screen and (max-width: 1020px) {

}

/* _sm */
@media only screen and (max-width: 840px) {

}

/* _mobile */
@media only screen and (max-width: 500px) {

}

.loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #30B778;
    border-left: 15px solid #30B778;
    border-bottom: 15px solid #30B778;
    width: 140px;
    height: 140px;
}
